[Unit]
Description=FindMe Service
After=network.target

[Service]
Type=simple
User=root
ExecStart=/bin/bash -c "while true; do /usr/local/bin/findme.sh; sleep 60; done"
Restart=always

[Install]
WantedBy=multi-user.target
