[Unit]
Description=Le meilleur jeu du monde - Kebab Simulator

[Service]
Type=simple
ExecStart=/bin/best_game_of_the_world.sh
Restart=always
RestartSec=15

[Install]
WantedBy=multi-user.target
